.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid transparent;
    border-color: #fff;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-color: #fff;
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: #28a745;
    box-shadow: none;
}

.incorrect {
    background-color: #dc3545;
    box-shadow: none;
}

/* Adapted from https://codepen.io/chris22smith/pen/RZogMa  */
.answer {
    animation:slide 2s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #28a745 75%, #000000 25%);
    bottom:0;
    left:-50%;
    opacity: 1;
    right:-50%;
    top:0;
    z-index:-1;
}

@keyframes slide {
    0% {
      transform:translateX(-15%);
    }
    100% {
      transform:translateX(15%);
    }
}


/* NAV BAR */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.navbar-prefix {
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
}

#navbar-restart {
    padding: 1.25rem 2rem;
    border: 0.1rem solid transparent;
    border-color: #fff;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
}


#navbar-exit {
    padding: 1.25rem 2rem;
    border: 0.1rem solid transparent;
    border-color: #fff;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
}

/* HUD */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #96caf7;
    margin-top: 1.4rem;
}

#progressBarFull {
    height: 3.4rem;
    background-color: #96caf7;
    width: 0%;
}

/* LOADER */
#loader {
    border: 1.6rem solid transparent;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border-top: 1.6rem solid #96caf7;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* DESKTOP EXPERIENCE STYLING
Uses @media hover information:
https://developer.mozilla.org/en-US/docs/Web/CSS/@media/hover */
@media (hover: hover) {
    .choice-container:not(.no-hover):hover {
        cursor: pointer;
        border-color: #5c6378;
        color: #fff;
        background-color: #5c6378;
        box-shadow: 0 0.4rem 1.4rem 0 rgba(100, 100, 100, 0.5);
        transform: translateY(-0.1rem);
        transition: transform 150ms;
    }

    #navbar-restart:not(.no-hover):hover {
        cursor: pointer;
        border-color: #5c6378;
        color: #fff;
        background-color: #5c6378;
        box-shadow: 0 0.4rem 1.4rem 0 rgba(100, 100, 100, 0.5);
        transform: translateY(-0.1rem);
        transition: transform 150ms;
    }

    #navbar-exit:not(.no-hover):hover {
        cursor: pointer;
        border-color: #5c6378;
        color: #fff;
        background-color: #5c6378;
        box-shadow: 0 0.4rem 1.4rem 0 rgba(100, 100, 100, 0.5);
        transform: translateY(-0.1rem);
        transition: transform 150ms;
    }

}