.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid transparent;
    border-color: #fff;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
}

.choice-container:hover {
    cursor: pointer;
    border-color: #5c6378;
    color: #fff;
    background-color: #5c6378;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(100, 100, 100, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-color: #fff;
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: #28a745;
    box-shadow: none;
}

.incorrect {
    background-color: #dc3545;
    box-shadow: none;
}

/* .remove-effect {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.5);
} */

/* NAV BAR */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.navbar-prefix {
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
}

#navbar-restart {
    padding: 1.25rem 2rem;
    border: 0.1rem solid transparent;
    border-color: #fff;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
}

#navbar-restart:hover {
    cursor: pointer;
    border-color: #5c6378;
    color: #fff;
    background-color: #5c6378;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(100, 100, 100, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

#navbar-exit {
    padding: 1.25rem 2rem;
    border: 0.1rem solid transparent;
    border-color: #fff;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
}

#navbar-exit:hover {
    cursor: pointer;
    border-color: #5c6378;
    color: #fff;
    background-color: #5c6378;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(100, 100, 100, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}


/* HUD */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #56a5eb;
    margin-top: 1.4rem;
}

#progressBarFull {
    height: 3.4rem;
    background-color: #56a5eb;
    width: 0%;
}

/* LOADER */
#loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #56a5eb;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}